<%-include("partials/header.ejs")-%>
  
<div class="small-card-container container text-center">
    <div class="text-left">
      <% category.forEach((c, i) => { %>
        <h2 class="page-scroll text-warning" id = "<%=c%>" ><%= c %></h2>
        <% itemsCategories[i].forEach((item) => { %> 
          <div class="card d-inline-block small-card text-start">
            <div class="card-container">
              <div class="top">
                <img src="<%= '/uploads/images/' + item.fileName %> " class="imgSmall" alt="<%=item.name%>">
              </div>
                <div class="bottom">
                  <div class="left">
                    <div class="small-card-details">
                      <h2><%=item.name%></h2>
                      <p>Rp. <%=item.price%></p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        <% }) %> 
      <% }) %> 
    </div>  
</div>
  
<%-include("partials/footer.ejs")-%>