<%-include("partials/header.ejs")-%>

<!-- Top Container -->
<div class="top-container">
    <div class="container">
        <div class="row">
            <div class="col">
              <h1 class="text-light"> Toko Alat Pancing </h1>
              <h5 class="text-light"><i class="fas fa-map-marker-alt"></i> Jl Ulin RT 10, Sebulu Ulu, Kec. Sebulu, Kab. Kutai Kartanegara, Kalimantan Timur</h5>  
                <div class="company-card pt-5 pb-5 mb-5">
                  <div class="company-card-container">
                    <div class="company-card-left float-start"></div>
                    <div class="company-card-right float-end">  
                      <div class="company-top">
                        <div class="company-name"><h6>Toko Pancing Sebulu Ulu</h6><span class="small">Aktif 1 menit yang lalu</span></div>
                      </div>
                      <div class="company-bottom">
                        <ul>
                          <li>
                              <button type="button" class="btn btn-primary"> <i class="fas fa-plus"></i> <span class="text"> Ikuti Kami</span></button>
                          </li>
                          <li>
                              <button type="button" class="btn btn-primary"> <i class="fas fa-comment-dots"></i> <span class="text"> Chat</span></button>
                          </li>
                      </ul>
                      </div>
                      
                    </div>
                  </div>
              </div>
            </div>
            <div class="col pt-5 mt-20">
                <div class="container container-symbol">
                    <div class="row">
                      <div class="col"><i class="fas fa-store pe-2 pt-5 text-white produk"></i> <span class="text-white "> Total <span class="pe-2">Produk: </span> <span class="text-warning"> 120</span>  </span></div>
                      <div class="col"><i class="fas fa-user-check pe-2 pt-5 text-white"></i> <span class="text-white "> Berdiri Sejak: <span class="text-warning"> 2017</span></span></div>
                    </div>
                    <div class="row">
                      <div class="col"><i class="fas fa-users pe-2 pt-5 text-white"></i> <span class="text-white "> Pengikut: <span class="text-warning"> 19.3RB</span></span></div>
                      <div class="col"><i class="fas fa-user pe-2 pt-5 text-white"></i> <span class="text-white "> Mengikuti: <span class="text-warning"> 4.3RB</span></span></div>
                    </div>
                    <div class="row">
                      <div class="col"><i class="fas fa-comment-dots pe-2 pt-5 text-white"></i> <span class="text-white "> Performa Chat: <span class="text-warning"> 99% (Hitungan Jam)</span></span></div>
                      <div class="col"><i class="far fa-star pe-2 pt-5 text-white"></i> <span class="text-white "> Rating: <span class="text-warning"> 4.9 (18.2RB Penilaian)</span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<!--End Top Container -->

<div class="middle-container pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col text-center lh-1"><a href="#" class="text-decoration-none text-black">Beranda</a></div>
            <div class="col text-center lh-1"><a href="/all" class="text-decoration-none text-black">Semua Produk</a></div>
            <div class="col text-center lh-1"><a href="#" class="text-decoration-none text-black">Joran</a></div>
            <div class="col text-center lh-1">
                <a class="dropdown-toggle text-black text-decoration-none" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kategori
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                    <li><a class="dropdown-item" href="#">Joran</a></li>
                    <li><a class="dropdown-item" href="#">Reel</a></li>
                    <li><a class="dropdown-item" href="#">Lure</a></li>
                    <li><a class="dropdown-item" href="#">Mata Pancing</a></li>
                    <li><a class="dropdown-item" href="#">Senar Nylon</a></li>
                    <li><a class="dropdown-item" href="#">Timah Pemberat</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Lain - Lain</a></li>
                  </ul>
            </div>
        </div>
    </div>    
    <!-- Row 1 -->
    <div class="container">
      <h2 class="best">Best Seller</h2>
      <div class="row">
        <div class="col">
          <div class="card"><i class="fas fa-crown position-absolute crown"></i>
            <div class="card-container">
              <div class="top"></div>
                <div class="bottom">
                  <div class="left">
                    <div class="details">
                      <h2>Charm</h2>
                      <p>Rp. 7000</p>
                    </div>
                    <div class="buy">
                      <i class="fas fa-cart-plus cart"></i>
                    </div>
                  </div>
                  <div class="right"></div>
                </div>
            </div>
          </div>
        </div>
      <!-- End row 1 -->

      <!-- card -->
<div class="container">
  
  <div id="bestseller" class="carousel width-25 carousel-dark slide m-auto" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#bestseller" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> 
      <% for( let i = 1; i < 3; i++ ) { %>
        <button type="button" data-bs-target="#bestseller" data-bs-slide-to="<%= i %>" aria-current="true" aria-label="Slide <%= i+1 %> "></button> 
      <% } %>
      
<!-- Recomended -->
    </div>
    <div class="carousel-inner bg-transparent pb-2">
      <h2 class="rekomen">Rekomendasi</h2>
      <% for( let i = 0; i < 9; i+=3 ) { %>
      <% if (i == 0) { %>
        <div class="carousel-item active text-center"> 
      <% } else { %>
        <div class="carousel-item text-center">
      <% } %> 
          <div class="card medium-card d-inline-block pad-30">
            <div class="card-container">
              <div class="top"></div>
                <div class="bottom">
                  <div class="left">
                    <div class="details medium-card-details">
                      <h2><%= recomended[i].name %></h2>
                      <p>Rp. <%= recomended[i].price %></p>
                    </div>
                    <div class="medium-card-buy">
                      <i class="fas fa-cart-plus cart"></i>
                    </div>
                  </div>
                  <div class="right"></div>
                </div>
              </div>
            </div>
          <div class="show-card">
            <div class="card medium-card d-inline-block pad-30">
              <div class="card-container">
                <div class="top"></div>
                  <div class="bottom">
                    <div class="left">
                      <div class="details medium-card-details">
                        <h2><%= recomended[i+1].name %></h2>
                        <p>Rp. <%= recomended[i+1].price %></p>
                      </div>
                      <div class="medium-card-buy">
                        <i class="fas fa-cart-plus cart"></i>
                      </div>
                    </div>
                    <div class="right"></div>
                  </div>
                </div>
              </div>
            <div class="card medium-card d-inline-block pad-30">
              <div class="card-container">
                <div class="top"></div>
                  <div class="bottom">
                    <div class="left">
                      <div class="details medium-card-details">
                        <h2><%= recomended[i+2].name %></h2>
                        <p>Rp. <%= recomended[i+2].price %></p>
                      </div>
                      <div class="medium-card-buy">
                        <i class="fas fa-cart-plus cart"></i>
                      </div>
                    </div>
                    <div class="right"></div>
                  </div>
                </div>
              </div>
          </div>
          
        </div>
      <% } %>
    </div>
    
    <button class="carousel-control-prev prev-next" type="button" data-bs-target="#bestseller" data-bs-slide="prev">
      <span><i class="fas fa-arrow-circle-left text-black-50 fs-1 me-1"></i></span>
    </button>
    <button class="carousel-control-next prev-next" type="button" data-bs-target="#bestseller" data-bs-slide="next">
      <span><i class="fas fa-arrow-circle-right text-black-50 fs-1 ms-1"></i></span> 
    </button>
  </div>
</div>

<div class="container">
  <h2 class="comment-header">Apa yang Dikatakan Costumer Kami</h2>
  <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col">
            
            <div class="comment text-center w-50 pt-5">
              <img src="image/ss.png" class="rounded-circle w-25" alt="">
              <p class="costumer-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ad inventore adipisci ipsum repellendus fuga atque, laudantium vero ipsa illum praesentium itaque maiores, minima quidem possimus! Corporis molestias pariatur ab.</p>
              <p class="pt-3 text-secondary">Yuno</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            
            <div class="comment text-center w-50 pt-5">
              <img src="image/ss.png" class="rounded-circle w-25" alt="">
              <p class="costumer-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ad inventore adipisci ipsum repellendus fuga atque, laudantium vero ipsa illum praesentium itaque maiores, minima quidem possimus! Corporis molestias pariatur ab.</p>
              <p class="pt-3 text-secondary">Sasuke</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            
            <div class="comment text-center w-50 pt-5">
              <img src="image/ss.png" class="rounded-circle w-25" alt="">
              <p class="costumer-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ad inventore adipisci ipsum repellendus fuga atque, laudantium vero ipsa illum praesentium itaque maiores, minima quidem possimus! Corporis molestias pariatur ab.</p>
              <p class="pt-3 text-secondary">Ichigo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
</div>
</div> 

<!-- dev -->
<div class="container text-center pb-5 pt-3">
  <!-- <div class="comment-header pb-5">Developer</div>
  <div class="my-container pb-5">
    <span class="noob">new</span>
    <div class="clear"></div>
    <div class="image">
      <img src="image/risky.jpg" alt="" class="rounded-circle">
    </div>
    <h3 class="fw-bold">Risky Kurniawan</h3>
    <h6 class="fw-bold">Kutai Kartanegara</h6>
    <p class="fw-bold">front-end developer</p>
    <button type="button" class="btn btn-info btn-call">Message</button>
    <button type="button" class="btn btn-outline-info btn-call">Portofolio</button>
    <div class="skills">
      <p class="fw-bold text-light">SKILLS</p>
      <ul class="text-decoration-none">
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">Front End Development</button>
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">HTML</button>
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">CSS</button>
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">JavaScript</button>
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">PHP</button>
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">Node</button>
      </ul>
    </div>
  </div> -->
  
</div>
<%-include("partials/footer.ejs")-%>