<%-include("partials/header.ejs")-%>
<!-- Top Container -->
    <div class="top-container">
      <!-- Button trigger modal -->
    <div class="sign-in">
      <div type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fas fa-sign-in-alt text-warning"></i>
      </div>
  
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <h2 class="navbar-brand-text text-warning">Toko <span class="pt-2 ps-2 text-info pancing">Pancing</span></h2>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> 
                  <form action="#" method="POST" class="form-login">
                    <div class="social-container">
                      <a href="#" class="social anchor "><i class="fab fa-facebook-f"></i></a>
                      <a href="#" class="social anchor"><i class="fab fa-google-plus-g"></i></a>
                      <a href="#" class="social anchor"><i class="fab fa-twitter"></i></a>
                    </div>
                    <span class="your-acc">atau gunakan akunmu</span>
                    <input type="username" placeholder="Username" class="input"/>
                    <input type="password" placeholder="Password" class="input"/>
                    <a href="#" class="anchor">Lupa Password?</a>
                    <button type="submit" class="btn-sign">Sign In</button>
                  </form>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col pb-5 scale-in">
              <h1 class="text-light"> Toko Alat Pancing </h1>
              <h5 class="text-light"><i class="fas fa-map-marker-alt"></i> Jl Ulin RT 10, Sebulu Ulu, Kec. Sebulu, Kab. Kutai Kartanegara,<br><span class="ms-3"> Kalimantan Timur</h5>  
              
              <div class="container container-symbol">
                <div class="row">
                  <div class="col"><i class="fas fa-store pe-2 pt-5 text-white produk"></i> <span class="text-white "> Total <span class="pe-1">Produk:</span><span class="text-white fst-italic">120</span></span></div>
                  <div class="col"><i class="fas fa-user-check pe-2 pt-5 text-white"></i> <span class="text-white "> Berdiri Sejak: <span class="text-white fst-italic"> 2017</span></span></div>
                </div>
                <div class="row">
                  <div class="col"><i class="fas fa-users pe-2 pt-5 text-white"></i> <span class="text-white "> Pengikut: <span class="text-white fst-italic"> 19.3RB</span></span></div>
                  <div class="col"><i class="fas fa-user pe-2 pt-5 text-white"></i> <span class="text-white "> Mengikuti: <span class="text-white fst-italic"> 4.3RB</span></span></div>
                </div>
                <div class="row">
                  <div class="col"><i class="fas fa-comment-dots pe-2 pt-5 text-white"></i> <span class="text-white "> Performa Chat: <span class="text-white fst-italic"> 99% (Hitungan Jam)</span></span></div>
                  <div class="col"><i class="far fa-star pe-2 pt-5 text-white"></i> <span class="text-white "> Rating: <span class="text-white fst-italic"> 4.9 (18.2RB Penilaian)</span></span></div>
                </div>
              </div>
            </div>
            
            <div class="col text-center scale-in">
              <div class="container-img">
                <img src="/image/phone.png" class="img-phone" alt="">
                <div class="btn-container-1 img-phone">
                  <a type="button" class="btn"><i class="bi bi-chat-dots-fill text-black"></i></a>
                </div>
              </div>
              <div class="btn-container-2 img-phone">
                <a type="button" class="btn"><i class="bi bi-person-plus-fill text-black"></i></a>
              </div>
            </div>
        </div>
    </div>    
  <!--Waves Container-->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
      </svg>
    </div>
    <!--Waves end-->
</div>
<!--End Top Container -->

<div class="middle-container">
    <div class="container">
      <div class="row">
        <div class="col-sm" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="250">
          <img src="/image/fishing-desc.png" width="80%" alt="" >
        </div>
        <div class="col-sm" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-offset="250">
          <h2 class="text-center title-poppins text-primary text-upper fs-25px">Tentang Toko</h2>
          <p class="font-sans-serif">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quibusdam atque iste vero odio sunt nesciunt ea itaque, esse aut? Fugiat, expedita ex minus et nesciunt adipisci quidem enim impedit, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, pariatur iste. Id eos, aspernatur in omnis minima tempora voluptates ratione fuga deleniti ad consectetur, veritatis impedit officiis vitae quasi laboriosam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae sed culpa accusamus perferendis. Sed, voluptatibus nam itaque ipsam corporis, omnis veniam voluptatum quisquam quas accusamus aperiam tempore mollitia similique! Reiciendis.</p>
        </div>
      </div>
    </div>

    <div class="container product-logo-container" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="250">
      <h3 class="product-logo-title-2 text-secondary">Kategori</span></h3>
      <h2 class="title-poppins text-primary text-upper">Lihat Kategori</h2>
    </div>
    <div class="container-fluid bg-lightblue pb-3">
      <div class="container p-0">
        <div class="container">
          <div class="row m-auto pe-3 d-flex justify-content-evenly">
              <a href="/#joran" class="col-lg-3 col-md-4 mt-4 text-center btn bg-white m-1" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="900" data-aos-offset="200"><img src="/image/1.png" alt=""></a>
              <a href="/#reel" class="col-lg-3 col-md-4 mt-4 text-center btn bg-white m-1" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="900" data-aos-offset="200"><img src="/image/2.png" alt=""></a>
              <a href="/#lure" class="col-lg-3 col-md-4 mt-4 text-center btn bg-white m-1" data-aos="zoom-in" data-aos-delay="600" data-aos-duration="900" data-aos-offset="200"><img src="/image/3.png" alt=""></a>
              <a href="/#lure" class="col-lg-3 col-md-4 mt-4 text-center btn bg-white m-1" data-aos="zoom-in" data-aos-delay="800" data-aos-duration="900" data-aos-offset="130"><img src="/image/5.png" alt=""></a>
              <a href="#" class="col-lg-3 col-md-4 mt-4 text-center btn bg-white m-1" data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="900" data-aos-offset="130"><img src="/image/4.png" alt=""></a>
              <a href="#" class="col-lg-3 col-md-4 mt-4 text-center btn bg-white m-1" data-aos="zoom-in" data-aos-delay="1200" data-aos-duration="900" data-aos-offset="130"><img src="/image/soon.png" alt=""></i></a>
          </div>
        </div>
    </div>
    </div>
    

    <!-- Best -->
    <section class="container mt-5">
      <h2 class="title-poppins text-center text-primary" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" data-aos-offset="170">BEST SELLER</h2>
      <div class="row" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" data-aos-offset="250">
        <% for(let i = 0; i < items.length; i++){ %> 
        <% if (i === 0 || i === 4 || i === 12){ %> 
          <div class="col-lg-4 col-md-3 mt-4 best-items">
            <div class="card scaled-card">
              <div class="crown-position"><i class="fas fa-crown position-absolute crown text-primary"></i></div>
              <div class="card-container">
                <div class="top text-center">
                  <img src="<%= '/uploads/images/' + items[i].fileName %> " class="imgBig" alt="">
                </div>
                <div class="bottom">
                  <div class="details">
                    <h2><%= items[i].name %></h2>
                    <hr>
                    <p>Rp. <%= items[i].price %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }; %> 
        <% };%> 
        </div>
    </section>
    <!-- End Best -->
    


<div class="row container-left">
  <div class="col-md-9" data-aos="fade-right" data-aos-delay="400" data-aos-duration="700" data-aos-offset="350">
    <!-- Slider main container -->
    <section class="container-fluid" id="joran">
      <div class="swiper">
        <!-- Additional required wrapper -->        
        <h2 class="text-primary poppins">&nbsp</h2>
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% itemsCategories[0].forEach((item) => { %> 
            <div class="swiper-slide">
              <div class="row">
                  <div class="col-lg-4 col-md-3 mt-4 best-items">
                    <div class="card-md">
                      <div class="card-container">
                        <div class="top text-center">
                          <img src="<%= '/uploads/images/' + item.fileName %> " class="imgBig" alt="">
                        </div>
                        <div class="bottom">
                          <div class="details-md">
                            <h2><%= item.name %></h2>
                            <hr>
                            <p>Rp. <%= item.price %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          <% }) %>
          <!-- End Slides -->

        </div>
        <!-- If we need pagination -->
        <div class="swiper-button-next"></div>
      </div>
    </section>
  </div>
  <div class="col-md-3 m-auto" data-aos="fade-right" data-aos-delay="700" data-aos-duration="400" data-aos-offset="150">
    <h2 class="text-primary poppins text-items">Joran</h2>
    <!-- <img src="/image/reel.png" alt="" class="img-items"> -->
  </div>
</div>

<div class="row container-right">
  <div class="col-md-3 m-auto" data-aos="fade-left" data-aos-delay="700" data-aos-duration="400" data-aos-offset="150">
    <div class="bg-dark">
      <h2 class="text-primary poppins title-right text-items">Reel</h2>
    </div>
  </div>
  <div class="col-md-9" data-aos="fade-left" data-aos-delay="400" data-aos-duration="700" data-aos-offset="350">
    <!-- Slider main container -->
    <section class="container-fluid" id="reel">
      <div class="swiper">
        <!-- Additional required wrapper -->        
        <h2 class="text-primary poppins title-right">&nbsp</h2>
        <div class="clear"></div>
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% itemsCategories[1].forEach((item) => { %> 
            <div class="swiper-slide">
              <div class="row">
                  <div class="col-lg-4 col-md-3 mt-4 best-items">
                    <div class="card-md">
                      <div class="card-container">
                        <div class="top text-center">
                          <img src="<%= '/uploads/images/' + item.fileName %> " class="imgBig" alt="">
                        </div>
                        <div class="bottom">
                          <div class="details-md">
                            <h2><%= item.name %></h2>
                            <hr>
                            <p>Rp. <%= item.price %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          <% }) %>
          <!-- End Slides -->

        </div>
        <!-- If we need pagination -->
        <div class="swiper-button-prev"></div>
      </div>
    </section>
  </div>
</div>


<div class="row container-left">
  <div class="col-md-9" data-aos="fade-right" data-aos-delay="400" data-aos-duration="700" data-aos-offset="350">
    <!-- Slider main container -->
    <section class="container-fluid" id="lure">
      <div class="swiper">
        <!-- Additional required wrapper -->        
        <h2 class="text-primary poppins">&nbsp</h2>
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% itemsCategories[2].forEach((item) => { %> 
            <div class="swiper-slide">
              <div class="row">
                  <div class="col-lg-4 col-md-3 mt-4 best-items">
                    <div class="card-md">
                      <div class="card-container">
                        <div class="top text-center">
                          <img src="<%= '/uploads/images/' + item.fileName %> " class="imgBig" alt="">
                        </div>
                        <div class="bottom">
                          <div class="details-md">
                            <h2><%= item.name %></h2>
                            <hr>
                            <p>Rp. <%= item.price %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          <% }) %>
          <!-- End Slides -->

        </div>
        <!-- If we need pagination -->
        <div class="swiper-button-next"></div>
      </div>
    </section>
  </div>
  <div class="col-md-3 text-bottom" data-aos="fade-right" data-aos-delay="700" data-aos-duration="400" data-aos-offset="150">
    <h2 class="text-primary poppins text-items">Lure</h2>
    <!-- <img src="/image/frog.png" alt="" class="img-items"> -->
  </div>
</div>


<div class="row container-right">
  <div class="col-md-3 m-auto" data-aos="fade-left" data-aos-delay="700" data-aos-duration="400" data-aos-offset="150">
    <div class="bg-dark">
      <h2 class="text-primary poppins title-right text-items">Mata Pancing</h2>
    </div>
  </div>
  <div class="col-md-9" data-aos="fade-left" data-aos-delay="400" data-aos-duration="700" data-aos-offset="350">
    <!-- Slider main container -->
    <section class="container-fluid" id="reel">
      <div class="swiper">
        <!-- Additional required wrapper -->        
        <h2 class="text-primary poppins title-right">&nbsp</h2>
        <div class="clear"></div>
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% itemsCategories[3].forEach((item) => { %> 
            <div class="swiper-slide">
              <div class="row">
                  <div class="col-lg-4 col-md-3 mt-4 best-items">
                    <div class="card-md">
                      <div class="card-container">
                        <div class="top text-center">
                          <img src="<%= '/uploads/images/' + item.fileName %> " class="imgBig" alt="">
                        </div>
                        <div class="bottom">
                          <div class="details-md">
                            <h2><%= item.name %></h2>
                            <hr>
                            <p>Rp. <%= item.price %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          <% }) %>
          <!-- End Slides -->

        </div>
        <!-- If we need pagination -->
        <div class="swiper-button-prev"></div>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-3 m-auto" data-aos="fade-left" data-aos-delay="700" data-aos-duration="400" data-aos-offset="150">
    <div class="bg-dark">
      <h2 class="text-primary poppins title-right text-items">Lainnya</h2>
    </div>
  </div>
  <div class="col-md-9" data-aos="fade-left" data-aos-delay="400" data-aos-duration="700" data-aos-offset="350">
    <!-- Slider main container -->
    <section class="container-fluid" id="reel">
      <div class="swiper">
        <!-- Additional required wrapper -->        
        <h2 class="text-primary poppins title-right">&nbsp</h2>
        <div class="clear"></div>
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% itemsCategories[8].forEach((item) => { %> 
            <div class="swiper-slide">
              <div class="row">
                  <div class="col-lg-4 col-md-3 mt-4 best-items">
                    <div class="card-md">
                      <div class="card-container">
                        <div class="top text-center">
                          <img src="<%= '/uploads/images/' + item.fileName %> " class="imgBig" alt="">
                        </div>
                        <div class="bottom">
                          <div class="details-md">
                            <h2><%= item.name %></h2>
                            <hr>
                            <p>Rp. <%= item.price %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          <% }) %>
          <!-- End Slides -->

        </div>
        <!-- If we need pagination -->
        <div class="swiper-button-prev"></div>
      </div>
    </section>
  </div>
</div>



<div class="container-fluid">
  <h2 class="best pb-3 comment-header" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1000">Apa yang Dikatakan Customer Kami</h2>
  <div class="swiper1" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="1200">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="testimonial">
          <div class="comment text-center pt-5">
            <img src="image/person-1.jpg" class="rounded-circle img-small" alt="">
            <p class="pt-5 container-sm"><i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ad inventore adipisci ipsum repellendus fuga atque, laudantium vero ipsa illum praesentium itaque maiores, minima quidem possimus! Corporis molestias pariatur ab.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
            <p class="pt-3 text-secondary">Asta</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testimonial">
          <div class="comment text-center pt-5">
            <img src="image/person-2.jpg" class="rounded-circle img-small" alt="">
            <p class="pt-5 container-sm"><i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ad inventore adipisci ipsum repellendus fuga atque, laudantium vero ipsa illum praesentium itaque maiores, minima quidem possimus! Corporis molestias pariatur ab.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
            <p class="pt-3 text-secondary">Ichigo</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testimonial">
          <div class="comment text-center pt-5">
            <img src="image/person-3.jpg" class="rounded-circle img-small" alt="">
            <p class="pt-5 container-sm"><i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ad inventore adipisci ipsum repellendus fuga atque, laudantium vero ipsa illum praesentium itaque maiores, minima quidem possimus! Corporis molestias pariatur ab.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
            <p class="pt-3 text-secondary">Midoriya</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- dev -->
<div class="container text-center pb-5 pt-5">
  <section id="press">
    <img src="/image/techcrunch.png" alt="tc-logo" width="150px" class="pe-3">
    <img src="/image/tnw.png" alt="tnw-logo" width="150px" class="pe-3">
    <img src="/image/bizinsider.png" alt="biz-insider-logo" width="150px" class="pe-3">
    <img src="/image/mashable.png" alt="mashable-logo" width="150px" class="pe-3">
  </section>
</div>
<%-include("partials/footer.ejs")-%>